body {
    background-image: url(./build.jpg); /* Light background color for the body */
}

header {
    background-color: #e70808; /* Solid blue background for the header */
}

.card {
    background-color: white; /* White background for the card */
    border-radius: 10px;
}

.card h3 {
    color: #333; /* Dark text color for card heading */
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #f80707; /* Button color */
}

.btn-primary:hover {
    background-color: #f80707; /* Darker blue on hover */
}